Package                       Version            Latest      Type
----------------------------- ------------------ ----------- -----
absl-py                       1.3.0              1.4.0       wheel
aiofiles                      22.1.0             23.1.0      wheel
aiohttp                       3.8.4              3.8.5       wheel
aiosqlite                     0.18.0             0.19.0      wheel
altair                        4.2.2              5.0.1       wheel
ansible                       7.3.0              8.2.0       wheel
ansible-core                  2.14.3             2.15.2      wheel
antlr4-python3-runtime        4.11.1             4.13.0      wheel
anyio                         3.6.2              3.7.1       wheel
anytree                       2.8.0              2.9.0       wheel
argcomplete                   2.0.6              3.1.1       wheel
asciinema                     2.2.0              2.3.0       wheel
atlassian-python-api          3.34.0             3.40.0      sdist
autoflake                     2.0.2              2.2.0       wheel
beautifulsoup4                4.11.2             4.12.2      wheel
bitarray                      2.7.3              2.8.1       wheel
bitstring                     3.1.9              4.0.2       wheel
black                         22.12.0            23.7.0      wheel
bleach                        5.0.1              6.0.0       wheel
blinker                       1.5                1.6.2       wheel
boltons                       21.0.0             23.0.0      wheel
botocore                      1.29.91            1.31.22     wheel
CacheControl                  0.12.11            0.13.1      wheel
cachetools                    5.2.1              5.3.1       wheel
cairocffi                     1.4.0              1.6.1       wheel
CairoSVG                      2.6.0              2.7.1       wheel
certifi                       2022.12.7          2023.7.22   wheel
chardet                       5.1.0              5.2.0       wheel
charset-normalizer            2.1.1              3.2.0       wheel
click                         8.1.3              8.1.6       wheel
click-default-group           1.2.2              1.2.4       wheel
click-option-group            0.5.5              0.5.6       wheel
cloup                         0.13.1             3.0.0       wheel
cocotb                        1.7.2              1.8.0       wheel
codespell                     2.2.4              2.2.5       wheel
comm                          0.1.2              0.1.4       wheel
commitizen                    2.42.1             3.6.0       wheel
contourpy                     1.0.7              1.1.0       wheel
cookiecutter                  2.1.1              2.3.0       wheel
coverage                      7.2.3              7.2.7       wheel
cppcheck-junit                2.2.0              2.3.0       wheel
cryptography                  38.0.4             41.0.3      wheel
cssutils                      2.6.0              2.7.1       wheel
cve-bin-tool                  3.2                3.2.1       wheel
cvss                          2.5                2.6         wheel
Cython                        0.29.33            3.0.0       wheel
dash                          2.8.1              2.11.1      wheel
dataclasses-json              0.5.7              0.5.14      wheel
datamodel-code-generator      0.17.1             0.21.3      wheel
debugpy                       1.6.5              1.6.7.post1 wheel
decli                         0.5.2              0.6.1       wheel
Deprecated                    1.2.13             1.2.14      wheel
dill                          0.3.6              0.3.7       wheel
distlib                       0.3.6              0.3.7       wheel
dnspython                     2.2.1              2.4.1       wheel
docformatter                  1.5.1              1.7.5       wheel
dockerfile-parse              1.2.0              2.0.1       wheel
docutils                      0.18.1             0.20.1      wheel
dogpile.cache                 1.1.8              1.2.2       wheel
dparse                        0.6.2              0.6.3       wheel
dulwich                       0.21.3             0.21.5      wheel
dynaconf                      3.1.12             3.2.0       wheel
easybuild                     4.7.1              4.8.0       sdist
easybuild-easyblocks          4.7.1              4.8.0       sdist
easybuild-easyconfigs         4.7.1              4.8.0       sdist
easybuild-framework           4.7.1              4.8.0       sdist
edalize                       0.5.0              0.5.1       sdist
elementpath                   4.0.1              4.1.5       wheel
email-validator               1.3.1              2.0.0.post2 wheel
exceptiongroup                1.1.1              1.1.2       wheel
execnet                       1.9.0              2.0.2       wheel
exitstatus                    2.3.0              2.4.0       wheel
fabric                        2.7.1              3.2.1       wheel
fastapi                       0.95.0             0.101.0     wheel
fastjsonschema                2.16.3             2.18.0      wheel
feedgenerator                 2.0.0              2.1.0       wheel
filelock                      3.9.1              3.12.2      wheel
flake8                        6.0.0              6.1.0       wheel
flake8-bugbear                23.3.23            23.7.10     wheel
Flask                         2.2.3              2.3.2       wheel
flatbuffers                   2.0.7              23.5.26     wheel
flynt                         0.78               1.0.1       wheel
fonttools                     4.39.3             4.42.0      wheel
frozenlist                    1.3.3              1.4.0       wheel
fusesoc                       2.2.dev25+gce21a9d 2.2.1       sdist
galois                        0.3.3              0.3.5       wheel
gast                          0.4.0              0.5.4       wheel
gdstk                         0.9.37             0.9.42      wheel
GitPython                     3.1.31             3.1.32      wheel
Glances                       3.3.1.1            3.4.0.3     wheel
glcontext                     2.3.7              2.4.0       wheel
globus-sdk                    3.18.0             3.26.0      wheel
glom                          22.1.0             23.3.0      wheel
google-api-core               2.11.0             2.11.1      wheel
google-api-python-client      2.76.0             2.96.0      wheel
google-auth                   2.16.0             2.22.0      wheel
google-cloud-core             2.3.2              2.3.3       wheel
google-cloud-storage          2.7.0              2.10.0      wheel
google-resumable-media        2.4.1              2.5.0       wheel
googleapis-common-protos      1.58.0             1.60.0      wheel
gql                           3.4.0              3.4.1       wheel
griffe                        0.25.5             0.32.3      wheel
grpcio                        1.52.0             1.56.2      wheel
gsutil                        5.21               5.25        sdist
h5py                          3.8.0              3.9.0       wheel
holoviews                     1.15.4             1.17.0      wheel
httplib2                      0.20.4             0.22.0      wheel
hvplot                        0.8.3              0.8.4       wheel
hypothesis                    6.68.2             6.82.3      wheel
identify                      2.5.22             2.5.26      wheel
importlib-metadata            4.13.0             6.8.0       wheel
importlib-resources           5.10.2             6.0.1       wheel
inflect                       5.6.2              7.0.0       wheel
iniconfig                     1.1.1              2.0.0       wheel
installer                     0.6.0              0.7.0       wheel
invoke                        1.7.3              2.2.0       wheel
ipykernel                     6.21.3             6.25.1      wheel
ipython                       8.12.0             8.14.0      wheel
ipywidgets                    8.0.6              8.1.0       wheel
itables                       1.5.2              1.5.3       wheel
jaraco.classes                3.2.3              3.3.0       wheel
jaraco.functools              3.5.2              3.8.1       wheel
jax                           0.4.8              0.4.14      sdist
jedi                          0.18.2             0.19.0      wheel
jira                          3.5.0              3.5.2       wheel
joblib                        1.2.0              1.3.1       wheel
json5                         0.9.11             0.9.14      wheel
jsonpointer                   2.3                2.4         wheel
jsonschema                    4.17.3             4.19.0      wheel
jsonschema-spec               0.1.4              0.2.3       wheel
jupyter_client                8.1.0              8.3.0       wheel
jupyter_core                  5.3.0              5.3.1       wheel
jupyter-events                0.6.3              0.7.0       wheel
jupyter_server                2.5.0              2.7.0       wheel
jupyter_server_fileid         0.8.0              0.9.0       wheel
jupyter-ydoc                  0.3.4              1.0.2       wheel
jupyterhub                    3.1.1              4.0.1       wheel
jupyterlab_server             2.22.0             2.24.0      wheel
jupyterlab-widgets            3.0.7              3.0.8       wheel
jupyterlite                   0.1.0              0.1.1       wheel
keras                         2.12.0             2.13.1      wheel
keyring                       23.13.1            24.2.0      wheel
lark-parser                   0.7.8              0.12.0      wheel
libclang                      15.0.6.1           16.0.6      wheel
libcst                        0.4.9              1.0.1       wheel
license-expression            30.1.0             30.1.1      wheel
llvmlite                      0.39.1             0.40.1      wheel
loguru                        0.6.0              0.7.0       wheel
lxml                          4.9.2              4.9.3       wheel
magql                         0.7.0              1.0.1       wheel
mando                         0.6.4              0.7.1       wheel
manim                         0.17.2             0.17.3      wheel
Markdown                      3.3.7              3.4.4       wheel
markdown-it-py                2.2.0              3.0.0       wheel
marshmallow                   3.19.0             3.20.1      wheel
matplotlib                    3.7.1              3.7.2       wheel
memray                        1.7.0              1.9.1       wheel
meson                         1.2.0              1.2.1       wheel
mistletoe                     0.8.2              1.1.0       wheel
mistune                       2.0.5              3.0.1       wheel
mkdocs-autorefs               0.4.1              0.5.0       wheel
mkdocstrings                  0.20.0             0.22.0      wheel
mkdocstrings-python           0.8.3              1.3.0       wheel
ml-dtypes                     0.0.4              0.2.0       wheel
mock                          5.0.2              5.1.0       wheel
moderngl                      5.8.1              5.8.2       wheel
moderngl-window               2.4.2              2.4.4       wheel
more-itertools                9.1.0              10.1.0      wheel
msgspec                       0.15.1             0.17.0      wheel
multipledispatch              0.6.0              1.0.0       wheel
mypy                          1.1.1              1.4.1       wheel
natsort                       8.3.1              8.4.0       wheel
nbclassic                     0.5.3              1.0.0       wheel
nbclient                      0.7.2              0.8.0       wheel
nest-asyncio                  1.5.6              1.5.7       wheel
nested-diff                   1.1                1.2         wheel
networkx                      2.8.3              3.1         wheel
nodeenv                       1.7.0              1.8.0       wheel
notebook                      6.5.3              7.0.2       wheel
notebook_shim                 0.2.2              0.2.3       wheel
numba                         0.56.4             0.57.1      wheel
numpy                         1.23.5             1.25.2      wheel
nvidia-cublas-cu11            11.10.3.66         11.11.3.6   wheel
nvidia-cuda-nvrtc-cu11        11.7.99            11.8.89     wheel
nvidia-cuda-runtime-cu11      11.7.99            11.8.89     wheel
nvidia-cudnn-cu11             8.5.0.96           8.9.2.26    wheel
okonomiyaki                   1.3.2              1.4.0       wheel
openapi-schema-validator      0.3.4              0.6.0       wheel
openapi-spec-validator        0.5.1              0.6.0       wheel
opencv-python-headless        4.7.0.68           4.8.0.74    wheel
packageurl-python             0.10.4             0.11.2      wheel
packaging                     21.3               23.1        wheel
pamela                        1.0.0              1.1.0       wheel
pandas                        1.5.3              2.0.3       wheel
paramiko                      3.1.0              3.3.1       wheel
parse                         1.19.0             1.19.1      wheel
parsl                         2023.6.19          2023.8.7    wheel
peewee                        3.16.0             3.16.2      sdist
pgspecial                     2.0.1              2.1.0       wheel
pigar                         2.0.6              2.1.1       wheel
Pillow                        9.4.0              10.0.0      wheel
pip-tools                     7.2.0              7.3.0       wheel
pipreqs                       0.4.11             0.4.13      wheel
plotext                       4.0.0              5.2.8       wheel
plotly                        5.13.1             5.15.0      wheel
pluggy                        1.0.0              1.2.0       wheel
plugincode                    31.0.0             32.0.0      wheel
poetry                        1.4.0              1.5.1       wheel
poetry-core                   1.5.1              1.6.1       wheel
poetry-plugin-export          1.3.0              1.4.0       wheel
prance                        0.22.11.4.0        23.6.21.0   wheel
premailer                     3.8.0              3.10.0      wheel
prometheus-client             0.16.0             0.17.1      wheel
prompt-toolkit                3.0.38             3.0.39      wheel
protobuf                      4.22.1             4.24.0      wheel
psutil                        5.9.4              5.9.5       wheel
psycopg                       3.1.5              3.1.10      wheel
psycopg2                      2.9.4              2.9.7       sdist
pyarrow                       10.0.1             12.0.1      wheel
pyasn1                        0.4.8              0.5.0       wheel
pyasn1-modules                0.2.8              0.3.0       wheel
pybind11                      2.10.3             2.11.1      wheel
pycairo                       1.23.0             1.24.0      sdist
pycryptodome                  3.17               3.18.0      wheel
pydantic                      1.10.7             2.1.1       wheel
pyflakes                      3.0.1              3.1.0       wheel
pyglet                        2.0.5              2.0.9       wheel
Pygments                      2.14.0             2.16.1      wheel
pygraphviz                    1.10               1.11        sdist
PyJWT                         2.6.0              2.8.0       wheel
pymdown-extensions            9.10               10.1        wheel
PyMySQL                       1.0.3              1.1.0       wheel
pyOpenSSL                     23.0.0             23.2.0      wheel
pyparsing                     3.0.9              3.1.1       wheel
pyproject_api                 1.5.1              1.5.3       wheel
PySnooper                     1.1.1              1.2.0       wheel
pytest                        7.3.0              7.4.0       wheel
pytest-xdist                  3.2.1              3.3.1       wheel
python-dotenv                 0.21.1             1.0.0       wheel
python-gitlab                 3.13.0             3.15.0      wheel
python-slugify                7.0.0              8.0.1       wheel
pytype                        2023.3.31          2023.7.28   wheel
pytz                          2022.7.1           2023.3      wheel
pyviz-comms                   2.2.1              2.3.2       wheel
pyvmomi                       8.0.0.1.2          8.0.1.0.2   sdist
PyYAML                        6.0                6.0.1       wheel
pyzmq                         25.0.0             25.1.0      wheel
radon                         5.1.0              6.0.1       wheel
rapidfuzz                     2.13.7             3.2.0       wheel
rdflib                        6.2.0              7.0.0       wheel
regex                         2023.3.23          2023.8.8    wheel
requests                      2.28.2             2.31.0      wheel
requests-toolbelt             0.10.1             1.0.0       wheel
resolvelib                    0.8.1              1.0.1       wheel
responses                     0.22.0             0.23.3      wheel
reuse                         1.1.2              2.1.0       sdist
rpa                           1.48.1             1.50.0      sdist
rpmfile                       1.0.8              1.1.1       wheel
rsa                           4.7.2              4.9         wheel
ruamel.yaml                   0.17.21            0.17.32     wheel
ruff                          0.0.261            0.0.283     wheel
scikit-learn                  1.2.2              1.3.0       wheel
scipy                         1.10.1             1.11.1      wheel
semver                        2.13.0             3.0.1       wheel
Send2Trash                    1.8.0              1.8.2       wheel
setuptools                    67.6.0             68.0.0      wheel
skia-pathops                  0.7.4              0.8.0       wheel
slack-sdk                     3.20.2             3.21.3      wheel
soupsieve                     2.4                2.4.1       wheel
spdx-tools                    0.7.1              0.8.0       wheel
Sphinx                        6.1.3              7.1.2       wheel
sphinx_autodoc_typehints      1.22               1.24.0      wheel
sphinx-rtd-theme              1.2.0              1.2.2       wheel
sphinxcontrib-applehelp       1.0.4              1.0.5       wheel
sphinxcontrib-devhelp         1.0.2              1.0.3       wheel
sphinxcontrib-htmlhelp        2.0.1              2.0.2       wheel
sphinxcontrib-jquery          2.0.0              4.1         wheel
sphinxcontrib-qthelp          1.0.3              1.0.4       wheel
sphinxcontrib-serializinghtml 1.1.5              1.1.6       wheel
SQLAlchemy                    1.4.46             2.0.19      wheel
SQLAlchemy-Utils              0.40.0             0.41.1      wheel
sqlparse                      0.4.3              0.4.4       wheel
srt                           3.5.2              3.5.3       sdist
starlette                     0.26.1             0.31.0      wheel
statsmodels                   0.13.5             0.14.0      wheel
stevedore                     4.1.1              5.1.0       wheel
streamlit                     1.20.0             1.25.0      wheel
svgelements                   1.9.1              1.9.5       wheel
tagui                         1.48.1             1.50.0      sdist
tblib                         1.7.0              2.0.0       wheel
tensorboard                   2.12.1             2.14.0      wheel
tensorboard-data-server       0.7.0              0.7.1       wheel
tensorflow                    2.12.0             2.13.0      wheel
tensorflow-estimator          2.12.0             2.13.0      wheel
tensorflow-io-gcs-filesystem  0.31.0             0.33.0      wheel
termcolor                     2.2.0              2.3.0       wheel
TestSlide                     2.7.0              2.7.1       sdist
textual                       0.10.1             0.32.0      wheel
threadpoolctl                 3.1.0              3.2.0       wheel
tldr                          3.1.0              3.2.0       wheel
torch                         1.13.1             2.0.1       wheel
tornado                       6.2                6.3.2       wheel
tox                           3.27.1             4.7.0       wheel
tqdm                          4.65.0             4.65.2      wheel
trio                          0.22.0             0.22.2      wheel
trove-classifiers             2023.3.9           2023.8.7    wheel
typecode                      30.0.0             30.0.1      wheel
typed-ast                     1.5.4              1.5.5       wheel
typeguard                     2.13.3             4.1.0       wheel
typer                         0.7.0              0.9.0       wheel
types-paramiko                3.0.0.7            3.3.0.0     wheel
types-PyYAML                  6.0.12.9           6.0.12.11   wheel
types-requests                2.28.11.17         2.31.0.2    wheel
types-six                     1.16.21.8          1.16.21.9   wheel
types-tabulate                0.9.0.2            0.9.0.3     wheel
types-toml                    0.10.8.6           0.10.8.7    wheel
types-urllib3                 1.26.25.10         1.26.25.14  wheel
typing_extensions             4.6.3              4.7.1       wheel
typing-inspect                0.8.0              0.9.0       wheel
tzdata                        2022.7             2023.3      wheel
tzlocal                       4.2                5.0.1       wheel
ufmt                          2.1.0              2.2.0       wheel
ujson                         5.7.0              5.8.0       wheel
uri-template                  1.2.0              1.3.0       wheel
urllib3                       1.26.15            2.0.4       wheel
usort                         1.0.6              1.0.7       wheel
virtualenv                    20.21.0            20.24.2     wheel
watchdog                      2.3.1              3.0.0       wheel
webcolors                     1.12               1.13        wheel
websocket-client              1.5.1              1.6.1       wheel
websockets                    10.4               11.0.3      wheel
Werkzeug                      2.2.3              2.3.6       wheel
wheel                         0.40.0             0.41.1      wheel
widgetsnbextension            4.0.7              4.0.8       wheel
wrapt                         1.14.1             1.15.0      wheel
xmlschema                     2.2.2              2.4.0       wheel
xyzservices                   2023.2.0           2023.7.0    wheel
yamllint                      1.30.0             1.32.0      wheel
yapf                          0.32.0             0.40.1      wheel
yarl                          1.8.2              1.9.2       wheel
ypy-websocket                 0.8.4              0.12.1      wheel
yq                            3.2.1              3.2.2       wheel
zipp                          3.15.0             3.16.2      wheel
zstandard                     0.20.0             0.21.0      wheel
